@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src:
    url('../fonts/MYRIADPRO-REGULAR.woff') format('woff'),
    url('../fonts/MYRIADPRO-REGULAR.woff2') format('woff2'),
    url('MYRIADPRO-REGULAR.ttf') format('truetype');
    font-weight: 400px;
    font-style: normal;
    font-display: swap;
    }