.button
    width: 100%
    padding: 1.286rem 0
    outline: none
    border: none
    font-size: 1.214rem
    font-weight: 700
    text-transform: uppercase
    cursor: pointer
    &-primary
        color: $light
        background-color: $primary
    &-outline
        color: $primary
        background: transparent
        border: 1px solid $primary
.card
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    &__heading
        font-size: 1.714rem
        font-weight: 700
        color: $black
        line-height: 1
        &-words
            font-weight: 300
    &__text
        margin-top: 2.214rem
        font-weight: 300
        line-height: 1.714rem
        color: $gradientTo
        font-size: 1.142rem