.hero
    padding: 12.643rem 0 45.429rem
    background: url(../img/hero-bg.webp) no-repeat center / cover
    position: relative
    &__title
        max-width: 46.714rem
        width: 100%
        &__head
            font-size: 5rem
            line-height: 5.929rem
            font-weight: 300
            margin-bottom: 0.45rem
        &__heading
            font-family: 'Myriad Pro'
            font-weight: 400
            color: $dark
            font-size: 2.5rem
            line-height: 2.429rem
        &__text
            max-width: 24.857rem
            