.pluses
    margin-top: -37rem
    z-index: 99
    background: transparent
    &__head
        font-family: 'Myriad Pro'
        font-size: 2.77rem
        color: $dark
        background-color: $light
        font-weight: 400
        padding: 20px 23px 16px 18px
        max-width: 21rem
        margin-bottom: 3.643rem
    &__card
        justify-content: flex-end   
        margin-right: 2.571rem
        &:nth-child(1)
            margin-right: 11.214rem
        &:nth-last-child()
            margin-right: 0
        &__title
            max-width: 30.643rem
            font-size: 24.428rem
            font-weight: 100
            color: $black
            letter-spacing: -1.214rem
            &-word
                font-size: 8rem
                color: $secondary
                line-height: 5.714rem
                margin-left: 2.357rem