.start
    background: radial-gradient(circle 677px at center, $gradientOf 0%, $gradientTo 100%), url(../img/start-bg.png)  no-repeat right /cover
    &__title
        text-align: center
        font-size: 1.875rem
        font-weight: 700
        max-width: 35.786rem
        line-height: normal
        color: $light
        &-word
            color: $secondary
    &__button
        margin-top: 2.5rem
        max-width: 16.143rem
        border: 1px solid $light
        border-radius: 4px
        color: $light
        font-size: 1.214rem
        font-weight: 700
        text-transform: uppercase