.training
    &__block
        margin: 4.571rem 0 4.714rem
    &__card
        justify-content: flex-end
        min-height: 26.429rem
        padding: 0 0 3.071rem 3.357rem
        position: relative
        &:nth-child(1)
            background: url(../img/test-bg.webp) no-repeat right , radial-gradient(circle 611px at center, $gradientOf 0%, $gradientTo 100%)
        &:nth-child(2)
            background: url(../img/help-bg.webp) no-repeat left,  radial-gradient(circle 611px at center, $gradientOf 0%, $gradientTo 100%)
        &__heading
            color: $light
            max-width: 13.143rem
            z-index: 3
        &__text
            color: $light
            max-width: 19.5rem
            z-index: 3
            &-small
                max-width: 13.786rem
    &__col
        min-height: 21.286rem
        &__heading
            margin-top: 3.214rem
        &__title
            height: 5.357rem
            display: flex
            align-items: flex-end
.shadow
    background: linear-gradient(to right, #132d50 0%, #132d50 100%)
    opacity: 0.3
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0